@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --black-color: #2f3e46;
  --secondary-color: #84a98c;
  --lightGray-color: #cad2c5;
  --gray-color: #52796f;
  --brown-color: #336c67;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
